<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>Default page</title>
</head>
  <body>
    <div class="main-container">
      <div class="smaller-container">
        <h1 class="welcome">Welcome to The Office Chat App</h1>
        <button class="button-defaultpage" type="submit"><a class="button-default" href="/login">Login</a></button>
        <button class="button-defaultpage" type="submit"><a class="button-default" href="/register">Register</a></button>
      </div>
    </div>
  </body>
</html>