<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Default page</title>
</head>
<body>
  <h1>Welcome to The Office Chat App</h1>
  <button class="button-defaultpage" type="submit"><a href="/login-page">Login</a></button>
  <button class="button-defaultpage" type="submit"><a href="/register-page">Register</a></button>
  <!-- tuka da se proveri dali treba da se stavi rutata ili imeto na fajlot ejs -->
</body>
</html>