<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>Home page</title>
</head>
  <body>
    <div class="main-container-home">
      <div class="smaller-container-home">
        <div class="nav-container">
          <div class="box-up"><h6 class="appname-home">The Office Chat App</h6>
            <div class="add-search">
            <a href=""><img src="" alt="plus"></a>
            <a href=""><img src="" alt="search"></a></div>
          </div>
          <div class="box-down">
          <a href="/myprofile"><img src="" alt="myprofile"></a>
          </div>
          <h3 class="news-feed">Welcome to news feed</h3>
        </div>
        
        
        <hr class="hr1">
        <form action="/createpost" method="POST">
          <div class="write-sth-container">    
            <label class="mind" for="mind">What's on your mind?</label>
            <hr class="hr2">
            <input class="typehere" type="text" name="typehere" id="typehere" placeholder="Type here...">
            <button class="button-post" type="submit">Post</button>
          </div>
        </form>

        <% if (posts.length === 0) { %>
          <p>No posts</p>
        <% } else { %> <% posts.forEach(post => {%>
          <div class="post-container">
            <a href="/viewposts/<%=post._id%>"></a>
            <h4 class="username"><%= post.username %></h4>
            <p class="mypost"><%= post.mypost %></p>
            <p class="time"><%= post.time %></p>
          </div>
        <%}) %> <% }; %>
      </div>
    </div>
  </body>
</html>