<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
  <body>
    <div >
      <h6>The Office Chat App</h6>
      <a href=""><img src="" alt="plus"></a>
      <a href=""><img src="" alt="search"></a>
    </div>
    <a href=""><img src="" alt="man"></a>
    <h3>Welcome to news feed</h3>
    <hr>
    <form action="">
      <div >    
        <label for="mind">What's on your mind?</label>
        <hr>
        <input type="text" name="typehere" id="typehere" placeholder="Type here...">
      </div>
    </form>

    <div class="post">
      <h4>Name</h4>
      <p>Post</p>
    </div>
  </body>
</html>