<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>Login page</title>
</head>
  <body>
    <div class="main-container">
      <h1 class="appname"><%= appname %></h1>
      <form class="form-loginpage">
        <label for="email"></label><input class="inputfield" type="text" id="email" name="email" placeholder="Enter your email here"><br>
        <label for="password"></label>
        <input class="inputfield" type="text" id="password" name="password" placeholder="Enter your password here"><br>
        <button class="button-loginpage" type="submit">Login</button>
      </form>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
      integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
      <script type="text/javascript" src="/js/login.js"></script>
  </body>
</html>