<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>My profile page</title>
</head>
  <body>
    <div class="main-container-profile">
      <div class="smaller-container-profile">
        <a class="img-home" href="/home"><img src="" alt="home"></a>
        <h4 class="title-myprofile">My profile</h4>
        <hr class="hr1">
        <img class="img-profile" src="" alt="myimage">
        <h3 class="myname-up">My name</h3>
        <h5 class="mystatuses">My statuses:</h4>
        <div class="mypost-container">
          <h6 class="myname-status">MyName</h6>
          <p class="mypost">MyPost</p>
          <a href="" class="delete"><img src="" alt="delete"></a>
        </div>
        <button class="button-logout" type="submit">Log out</button>
      </div>
    </div>
  </body>
</html>