<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My profile page</title>
</head>
<body>
  <a href=""><img src="" alt="home"></a>
  <h4>My profile</h4>
  <hr>
  <img src="" alt="myimage">
  <h3>My name</h3>
  <h4>My statuses:</h4>
  <div class="mypost">
    <h4>MyName</h4>
    <p>MyPost</p>
  </div>
  <button class="button-logout">Log out</button>
</body>
</html>