<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>Post details</title>
</head>
<body>
  <div class="main-container-edit">
    <div class="smaller-container-edit">
      <a class="img-home" href="/viewposts"><img src="" alt="home"></a>
      <h4 class="title-myprofile"><%= title %></h4>
      <hr class="hr-edit">
      <div class="edit-container">
        <form action="/editpost/<%= post._id %>" method="POST">
          <label class="edit-text" for="username"><%= post.username %></label><br><br><br>
          <label class="edit-text" for="mypost">Edit post:</label><br>
          <input class="mypost-edit" type="text" id="mypost" name="mypost" value="<%= post.mypost %>" /><br>
          <button class="editButton" type="submit" ><a class="edit-button-link" href="/myprofile">Edit</a></button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
