/* login-page */
body{
  margin: 0 auto;
  background-color: black;
  font-family: sans-serif;
  color: rgb(223, 69, 100);
}

.main-container{
  margin: 0 auto;
  width: 900px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.smaller-container{
  margin: 0 auto;
  width: 900px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.appname, .welcome{
  margin-bottom: 100px;
}

.inputfield, .button-defaultpage{
  width: 400px;
  height: 30px;
  border-radius: 30px;
  border: none;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 70px;
}

.button-loginpage, .button-registerpage{
width: 100px;
height: 30px;
border: none;
border-radius: 30px;
background-color: white;
color:  rgb(223, 69, 100);
margin-left: 150px;
}

/* default-page */
.button-default{
  color: rgb(223, 69, 100);
  text-decoration: none;
}
.button-loginpage, .button-registerpage, .button-default:hover{
  cursor: pointer;
}

/* register-page */
.h3-register{
  margin-top: 5px;
  margin-bottom: 50px;
  color: black;
  font-size: smaller;
}

/* home-page */
.main-container-home{
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: flex;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.smaller-container-home{
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.box-up{
  width: 900px;
  height: 50px;
  display: flex;
  justify-content:space-around;
  align-items: baseline;
}

.appname-home{
  font-size: 12px;
}

.box-down{
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: end;
}

.news-feed{
  margin-left: 100px;
  color: black;
}
.hr1{
  width: 800px;
  height: 3px;
  background-color: grey;
}
.hr2{
  width: 700px;
  height: 1px;
  background-color: black;
}

.write-sth-container{
  margin: 15px;
  width: 780px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
}

.mind{
  margin: 50px;
  color: grey;
}
.typehere{
  margin-left: 50px;
  border: none;
}

.button-post{
  background-color: white;
  color: grey;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50px;
}

.button-post:hover{
  cursor: pointer;
}

.post-container{
  width: 780px;
  height: 130px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0;
}

.username{
  margin: 10px 0 0 30px;
  color: black;
}

.mypost{
  margin: 10px 0 5px 30px;
  color: black;
}

.time{
  margin: 10px 0 5px 30px;
  color: black;
}


/*myprofile-page*/
.main-container-profile{
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: flex;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.smaller-container-profile{
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.img-home{
margin: 20px 0 20px 50px;
}

.title-myprofile{
  margin: 0 auto;
  color: black;
}

.img-profile{
  margin: 0 auto;
}

.myname-up{
  margin: 0 auto;
  margin-top: 10px;
}

.mystatuses{
  margin: 20px 0 20px 70px;
}

.mypost-container{
  margin: 0 auto;
  width: 780px;
  height: 130px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30x;
}

.delete{
  float: right;
  margin-right: 30px;
}

.edit{
  float: left;
  margin-left: 30px;
}

.button-logout{
  margin: 0 auto;
  width: 400px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: rgb(223, 69, 100);
  background-color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.button-logout:hover{
  cursor: pointer;
}

.logout{
  color: rgb(223, 69, 100);
  text-decoration: none;
  font-size: 12px;
}

/*postdetails page */
.main-container-edit{
  margin: 0 auto;
  margin-top: 20px;
  width: 900px;
  height: 300px;
  display: flex;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.hr-edit{
  width: 800px;
  height: 3px;
  background-color: grey;
}

.smaller-container-edit{
  margin: 0 auto;
  width: 900px;
  height: 420px;
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 243, 226);
  border-radius: 30px;
}

.edit-container{
  margin: 0 auto;
  width: 700px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

.edit-text{
  margin-left: 50px;
  margin-top: 10px;
}

.username-edit, .mypost-edit, .time-edit{
  margin: 10px 20px 10px 40px;
  width: 600px;
  height: 20px;
  border-color:rgb(223, 69, 100);
  border-radius: 10px;
}

.editButton{
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: rgb(223, 69, 100);
  background-color: rgb(191, 243, 226);
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
  margin-left: 300px;
}

.editButton:hover{
  cursor: pointer;
}

.edit-button-link{
  color: rgb(223, 69, 100);
  text-decoration: none;
}




/* responsive design for all pages */
@media screen and (max-width: 767px){
  .main-container{
    margin: 0 auto;
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
  }
  .smaller-container{
    margin: 0 auto;
    width: 270px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 243, 226);
    border-radius: 30px;
  }
  .appname{
    margin-bottom: 110px;
    font-size: 20px;
  }
  .inputfield, .button-defaultpage{
    width: 210px;
    height: 35px;
    border-radius: 30px;
    border: none;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
    }

  .button-loginpage{
    margin-top: 50px;
    margin-left: 75px;
  }

  /* responsive default-page */
  .welcome{
    font-size: 15px;
  }

  .button-default{
    color: rgb(223, 69, 100);
    text-decoration: none;
    font-size: 18px;
  }

  /* responsive register-page */
  .button-registerpage{
    margin-top: 30px;
    margin-left: 75px;
  }

  /* responsive home-page */
  .main-container-home{
    margin: 0 auto;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
  }

  .smaller-container-home{
    margin: 0 auto;
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(191, 243, 226);
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .box-up{
    margin: 0 auto;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: baseline;
  }

  .box-down{
    width: 260px;
    height: 20px;
    display: flex;
    justify-content: end;
  }

  .appname-home{
    color: black;
  }

  .news-feed{
    color: black;
    font-size: 8px;
    margin-left: 30px;
  }
  
  .hr1{
    width: 250px;
    height: 1px;
    background-color: black;
  }
  .hr2{
    width: 200px;
    height: 1px;
    background-color: black;
  }

  .write-sth-container{
    width: 230px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
  }

  .mind{
    font-size: smaller;
    margin-left: 20px;
    color: grey;
  }
  .typehere{
    margin-left: 20px;
    border: none;
  }

  .post-container{
    width: 230px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
  }

  .username{
    font-size: 10px;
    margin: 10px 0 0 10px;
    color: black;
  }
  
  .mypost{
    font-size: 8px;
    margin: 10px 0 5px 10px;
    color: black;
  }
  
  .time{
    font-size: 8px;
    margin: 10px 0 5px 10px;
    color: black;
  }

  /* responsive myprofile-page */
  .main-container-profile{
    margin: 0 auto;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
  }

  .smaller-container-profile{
    margin: 0 auto;
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 243, 226);
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .img-home{
    margin: 10px 0 10px 10px;
    }
    
    .title-myprofile{
      font-size: smaller;
      margin: 0 auto;
      color: black;
    }
    
    .img-profile{
      margin: 0 auto;
    }
    
    .myname-up{
      margin: 0 auto;
      margin-top: 10px;
    }
    
    .mystatuses{
      margin: 20px 0 5px 30px;
    }
    
    .mypost-container{
      margin: 0 auto;
      width: 230px;
      height: 100px;
      background-color: white;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    
    .myname-status{
      font-size: 8px;
      margin: 10px 0 5px 10px;
      color: black;
    }
        
    .delete{
      float: right;
      margin-right: 20px;
      font-size: 8px;
    }
    .edit{
      float: left;
      margin-left: 20px;
      font-size: 8px;
    }

    .button-logout{
      margin: 0 auto;
      width: 180px;
      height: 30px;
      border-radius: 30px;
      border: none;
      color: rgb(223, 69, 100);
      background-color: white;
      text-decoration: none;
      margin-bottom: 20px;
    }

    /* responsive edit-page */
    .main-container-edit{
      margin: 0 auto;
      width: 300px;
      height: 550px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 30px;
    }
    
    .smaller-container-edit{
      margin: 0 auto;
      width: 270px;
      height: 520px;
      display: flex;
      flex-direction: column;
      background-color: rgb(191, 243, 226);
      border-radius: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .hr-edit{
      width: 200px;
    }
    
    .edit-container{
      margin: 0 auto;
      width: 230px;
      height: 300px;
      background-color: white;
      border-radius: 20px;
      margin-top: 20px;
      padding-top: 50px;
      width: 230px;
    }

    .username-edit, .mypost-edit, .time-edit{
      margin: 10px 20px 10px 40px;
      width: 150px;
      height: 20px;
      border-color:rgb(223, 69, 100);
      border-radius: 10px;
    }

    .editButton{
      margin-left: 70px;
    }

    .edit-button-link{
      color: rgb(223, 69, 100);
      text-decoration: none;
    }
}

